*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   :root{
      --coloPrimary : #7451eb
      --coloPrimary : #9dadf3
      --coloPrimary : rgb(255,250,238)
   }

.droite{
    font-family: 'Poppins';
  flex-direction: center;
      position: absolute;
       align-items:center ;
      display: block;
      align-items: center;
      justify-content: center;
      
      width:50%;
      height:100%;
      background-color:white;
  }

  .droite p{
      text-align: center;
      font-family: 'Poppins';
  }
  .un{
    color:  #7451eb;
    font-size: 100px;
 }
 .deux{
    color:  #9dadf3;
    font-size: 40px;
    
 }
 .trois{
  
    font-size: 20px;
    color:  #9dadf3;
 }
  .text{
    margin: 28px;
    
    position: relative;
    width: 300px;
    height: 40px;
    border-radius: solid 4 #9dadf3;
    
  }
  .email{
    position: relative;
    top: 100px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    
  }
  .r{
    position: relative;
    width: 300px;
    height: 30px;
    border-bottom: none;
    border-radius: solid 3 black;
   
  }
  .gauche{
      position:absolute;
      left: 50%;
      width:50%;
      height:100%;
      background-image:url("../IMG/image.jpeg");
      background-position: right;
      background-repeat: no-repeat;
  }
  .a{
    position: relative;
    
    border: none;
  }