*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 :root{
    --coloPrimary : #7451eb
    --coloPrimary : #9dadf3
    --coloPrimary : rgb(255,250,238)
 }


body{
  font-family: 'Poppins';
  font-size: 1rem;
}


.droite{
    position:absolute;
    width:50%;
    height:100%;
    background-color:red;
}
.gauche{
    position:absolute;
    left: 50%;
    width:50%;
    height:100%;
    background-color:blue;
}